<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistraUtente</servlet-name>
        <servlet-class>servlet.RegistraUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUtente</servlet-name>
        <servlet-class>servlet.LoginUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllaCreatorPost</servlet-name>
        <servlet-class>servlet.ControllaCreatorPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaPost</servlet-name>
        <servlet-class>servlet.CreaPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stampaPost</servlet-name>
        <servlet-class>servlet.stampaPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaCommento</servlet-name>
        <servlet-class>servlet.CreaCommento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllaCreatorCommento</servlet-name>
        <servlet-class>servlet.ControllaCreatorCommento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUtente</servlet-name>
        <servlet-class>servlet.LogoutUtente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistraUtente</servlet-name>
        <url-pattern>/RegistraUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUtente</servlet-name>
        <url-pattern>/LoginUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllaCreatorPost</servlet-name>
        <url-pattern>/ControllaCreatorPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaPost</servlet-name>
        <url-pattern>/CreaPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stampaPost</servlet-name>
        <url-pattern>/stampaPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaCommento</servlet-name>
        <url-pattern>/CreaCommento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllaCreatorCommento</servlet-name>
        <url-pattern>/ControllaCreatorCommento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUtente</servlet-name>
        <url-pattern>/LogoutUtente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
</web-app>
